* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    font-weight: 700;
}

:root {
    --white: rgb(255, 255, 255);
    --gray: hsl(212, 45%, 89%);
    --dark: hsl(218, 44%, 22%);
}



body {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #D6E1F0;
    height: 100vh;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 50px;
    max-width: 350px;
    text-align: center;
}

.top img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bottom h1 {
    font-weight: 900;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: var(--dark);
    

}

.bottom p {
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--gray);
}


@media (max-width: 640px) {
    .main {
        max-width: 450px;
        padding: 20px;
        padding-bottom: 50px;
    }
    .top h1 {
        font-size: 1.5rem;
        margin-bottom: 13px;
    }

    .bottom p {
        font-size: 1rem;
    }
}